cff-version: 1.2.0
message: "If you use AMFCA, please cite the associated manuscript and software release."
title: "AMFCA: Auditable Multisensor Flood Change Assessment"
type: software
version: 1.0.0
date-released: 2026-09-21
authors:
  - family-names: "REPLACE_WITH_AUTHOR_FAMILY_NAME"
    given-names: "REPLACE_WITH_AUTHOR_GIVEN_NAME"
repository-code: "https://github.com/REPLACE_WITH_ACCOUNT/AMFCA"
